li {
    list-style:none;
    display: block;
    width: 400px;
    padding-bottom: 4px;
}
li input.remove-btn {
  display: none;
  float: right;
}
li:hover input.remove-btn {
  display: inline;
}
li:hover:not(:first-child) {
  background-color: #EEE;
}
.strike {
    text-decoration: line-through;
}
ul {
  margin-left: -30px;
}
